*{
margin:0;
padding:0;
box-sizing: border-box;
}

body {

background: #F2F2F2;
font-family: lato
width: 100%;
}

.Representante{
	
    width: 50%;
	margin: 20px;
	background: #E5E2DE;

}

.Form-contenido_2 {
	padding: 25px 35px 35px;
	
}


.Representante label , .Representante input {
	display: block;	
}

.Representante label {
	color: #000;
	font-size: 16px;
	margin: 5px 0px;
	}

.Representante input [type= "text"],
.Representante input [type= "number"],
.Representante input [type= "email"],
{
	width: 100%;
	padding: 12px 8px;
	margin-bottom: 20px;
	border: none;


}
.Estudiante{
	
    width: 50%;
	margin: 20px;
	background: #E5E2DE;

}

.Form-contenido_1 {
	padding: 25px 35px 35px;
	
}


.Estudiante label , .Estudiante input {
	display: block;	
}

.Estudiante label {
	color: #000;
	font-size: 16px;
	margin: 5px 0px;
	}

.Estudiante input [type= "text"],
.Estudiante input [type= "number"],
.Estudiante input [type= "email"],
{
	width: 100%;
	padding: 12px 8px;
	margin-bottom: 20px;
	border: none;


}
 
 .Formulario{
	width: 100%;
	margin: 20px;
	background: #E5E2DE;
}

.Form-contenido {
	padding: 25px 35px 35px;
	

}

.Formulario label , .Formulario input {
	display: block;	
	
}

.Formulario label {
	color: #000;
	font-size: 16px;
	margin: 5px 0px;
}


.Formulario input [type= "text"],
.Formulario input [type= "number"],
.Formulario input [type= "email"],
{
	width: 100%;
	padding: 12px 8px;
	margin-bottom: 20px;
	border: none;


}
 
.Form-titulo {
	background: #98E8FF;
	padding: 10px;
}

