﻿
@{
    ViewBag.Title = "Datos";
}

@*Vista principal, en esta vista se muestra los Datos del Representante con el crud de  Agragar,Eliminar,Editar y Mostrar los Datos de los estudiante.*@
@Html.AntiForgeryToken()

<div class="container">
    <div class="Formulario">
        <div class="Form-titulo">

            <div class="col-12"><center><h3> Mostrar Datos del Representante </h3></center></div>

            @*Boton Agregar*@

            <div class="col-12"><a class="btn btn-secondary btn-sm" href="@Url.Action("Formgeneral","Formulario")">Agregar</a></div>
        </div>
        @*Crear tabla para mostrar los datos del Representante*@
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Cedula</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Direción</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>


                @foreach (var item in ViewBag.ListRepresentante)
                {
                    <tr>
                        <th scope="row">@item.Cedula_R</th>
                        <td>@item.Nombre_R</td>
                        <td>@item.Apellido_R</td>

                        @switch (item.Sexo_R)
                        {
                            case 0:
                                <td>Femenino</td>
                                break;
                            case 1:
                                <td>Masculino</td>
                                break;
                        }

                        <td>@item.Direccion_R</td>
                        <td>@item.Telefono_R</td>
                        <td>@item.Correo_R</td>
                        <td>
                            @*Botones de eliminar, Mostrar y editar*@

                            <a class="btn btn-secondary btn-sm" href="@Url.Action("Mostrar","Formulario",new { idRe = item.Clave_R})"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                            <a class="btn btn-secondary btn-sm" href="@Url.Action("Representante","Formulario",new { Id = item.Clave_R})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                            <button type="button" class="btn btn-secondary btn-sm" onClick="EliminarRepresentante(@item.Clave_R);"><i class="fa fa-trash" aria-hidden="true"></i></button>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@*Javascrip para la funciòn eliminar*@

<script type="text/javascript">

    function EliminarRepresentante(IdE)
    {
        var Id = IdE;
        var mensaje;
        var opcion = confirm("Presione ACEPTAR si desea Borrar los Datos del Representante, al eliminar representante eliminara estudiante, si no presione CANCELAR");
        if (opcion == true) {
              $.ajax({
                    type: 'POST',
                    url: '@Url.Action("EliminarRepresentante", "Formulario")',
                    data: {
                        Id: Id
                    },
                    cache: false,
                    success: function (data) {
                        if (data.success){
                        alert('Representante y Estudiante  eliminado correctamente');
                        location.reload();
                        }
                        else {
                        alert('Error Eliminando');
                        }
                    },
                    error: function () {
                        alert('Error Eliminando');
                    }
              });
        }
    }
</script>