﻿@model Escuela.Entities.Estudiante
@{
    ViewBag.Title = "Estudiante";
}


<div align="center">
    @using (Html.BeginForm())
    {
        //Vista Estudiante para agragar datos de los estudiantes en el formulario
        @Html.AntiForgeryToken()

        <div class="Estudiante">

            <div class="Form-titulo">
                <h3> Datos del Estudiante</h3>
            </div>

            <div class="Form-contenido_1 ">

                @*crear tabla para agragar los datos de los estudiantes mediante un formulario*@
                <table width="50%">
                    <tr>
                        <td width="50%">

                            @Html.LabelFor(model => model.Nombre_E, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nombre_E, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                            @Html.ValidationMessageFor(model => model.Nombre_E, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Apellido_E, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Apellido_E, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                            @Html.ValidationMessageFor(model => model.Apellido_E, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Grado_E, htmlAttributes: new { @class = "control-label" })

                            <select class="form-control" name="Grado_E" id="Sexo_R">

                                @switch (Model.Grado_E)
                                {
                                    case "Primer Grado":
                                        <option value="Primer Grado" selected> Primer Grado</option>
                                        <option value="Segundo Grado">Segundo Grado</option>
                                        <option value="Tercer Grado">Tercer Grado</option>
                                        <option value="Cuarto Grado">Cuarto Grado</option>
                                        <option value="Quinto Grado">Quinto Grado</option>
                                        <option value="Sexto Grado">Sexto Grado</option>
                                        break;
                                    case "Segundo Grado":
                                        <option value="Primer Grado"> Primer Grado</option>
                                        <option value="Segundo Grado" selected>Segundo Grado</option>
                                        <option value="Tercer Grado">Tercer Grado</option>
                                        <option value="Cuarto Grado">Cuarto Grado</option>
                                        <option value="Quinto Grado">Quinto Grado</option>
                                        <option value="Sexto Grado">Sexto Grado</option>
                                        break;
                                    case "Tercer Grado":
                                        <option value="Primer Grado"> Primer Grado</option>
                                        <option value="Segundo Grado">Segundo Grado</option>
                                        <option value="Tercer Grado" selected>Tercer Grado</option>
                                        <option value="Cuarto Grado">Cuarto Grado</option>
                                        <option value="Quinto Grado">Quinto Grado</option>
                                        <option value="Sexto Grado">Sexto Grado</option>
                                        break;
                                    case "Cuarto Grado":
                                        <option value="Primer Grado"> Primer Grado</option>
                                        <option value="Segundo Grado">Segundo Grado</option>
                                        <option value="Tercer Grado">Tercer Grado</option>
                                        <option value="Cuarto Grado" selected>Cuarto Grado</option>
                                        <option value="Quinto Grado">Quinto Grado</option>
                                        <option value="Sexto Grado">Sexto Grado</option>
                                        break;
                                    case "Quinto Grado":
                                        <option value="Primer Grado"> Primer Grado</option>
                                        <option value="Segundo Grado">Segundo Grado</option>
                                        <option value="Tercer Grado">Tercer Grado</option>
                                        <option value="Cuarto Grado">Cuarto Grado</option>
                                        <option value="Quinto Grado" selected>Quinto Grado</option>
                                        <option value="Sexto Grado">Sexto Grado</option>
                                        break;
                                    case "Sexto Grado":
                                        <option value="Primer Grado"> Primer Grado</option>
                                        <option value="Segundo Grado">Segundo Grado</option>
                                        <option value="Tercer Grado">Tercer Grado</option>
                                        <option value="Cuarto Grado">Cuarto Grado</option>
                                        <option value="Quinto Grado">Quinto Grado</option>
                                        <option value="Sexto Grado" selected>Sexto Grado</option>
                                        break;
                                    default:
                                        <option value="Primer Grado"> Primer Grado</option>
                                        <option value="Segundo Grado">Segundo Grado</option>
                                        <option value="Tercer Grado">Tercer Grado</option>
                                        <option value="Cuarto Grado">Cuarto Grado</option>
                                        <option value="Quinto Grado">Quinto Grado</option>
                                        <option value="Sexto Grado">Sexto Grado</option>
                                        break;
                                }

                            </select>

                            @Html.LabelFor(model => model.Sexo_E, htmlAttributes: new { @class = "control-label" })

                            <select class="form-control" name="Sexo_E" id="Sexo_E">

                                @switch (Model.Sexo_E)
                                {
                                    case 0:
                                        <option value="0" selected>Femenino</option>
                                        <option value="1">Masculino</option>
                                        break;
                                    case 1:
                                        <option value="0">Femenino</option>
                                        <option value="1" selected>Masculino</option>
                                        break;
                                    default:
                                        <option value="0">Femenino</option>
                                        <option value="1">Masculino</option>
                                        break;
                                }

                            </select>

                            <input type="text" name="Representante_Id" value="@Model.Representante_Id" hidden>
                            <input type="text" name="Matricula_E" value="@Model.Matricula_E" hidden>
                        </td>
                    </tr>
                </table>
                <br>

                @*Boton Enviar*@

                <center><input type="submit" class="btn btn-primary" value="Enviar"></center>

            </div>
        </div>
    }

</div>