﻿@model Escuela.Models.Representante_Estudiante
@{
    ViewBag.Title = "Formgeneral";
}

@using (Html.BeginForm())
{

    //Vista Representante y Estudiante para agragar datos de los Representante y los Estudiantes en el formulario
   

    <div class="Formulario">
        <div class="Form-titulo">
            <center><h3>Formulario de Representantes-Estudiantes</h3></center>
        </div>

        <div class="Form-contenido">

            @*crear tabla para agragar los datos de los Representante y los Estudiantes mediante un formulario*@
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tr>
                            <td width="50%">
                                <div>
                                    <h3>Representante</h3>
                                </div>
                                @Html.AntiForgeryToken()
                                @*@Html.ValidationSummary()*@
                                @Html.LabelFor(model => model.Cedula_R, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Cedula_R, new { htmlAttributes = new { @class = "form-control", onKeyPress = "return soloNumeros(event)", min = 5, maxlength = 8 } })
                                @Html.ValidationMessageFor(model => model.Cedula_R, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Nombre_R, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Nombre_R, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                                @Html.ValidationMessageFor(model => model.Nombre_R, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Apellido_R, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Apellido_R, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                                @Html.ValidationMessageFor(model => model.Apellido_R, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Direccion_R, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Direccion_R, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Direccion_R, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Telefono_R, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Telefono_R, new { htmlAttributes = new { @class = "form-control", onKeyPress = "return soloNumeros(event)" } })
                                @Html.ValidationMessageFor(model => model.Telefono_R, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Correo_R, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Correo_R, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Correo_R, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Sexo_R, htmlAttributes: new { @class = "control-label" })

                                <select class="form-control" name="Sexo_R" id="Sexo_R">
                                    <option value="0">Femenino</option>
                                    <option value="1">Masculino</option>
                                </select>

                            </td>
                            <td>
                                <div>
                                    <h3>
                                        Estudiante
                                    </h3>

                                </div>

                                @Html.LabelFor(model => model.Nombre_E, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Nombre_E, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                                @Html.ValidationMessageFor(model => model.Nombre_E, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Apellido_E, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Apellido_E, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                                @Html.ValidationMessageFor(model => model.Apellido_E, "", new { @class = "text-danger" })


                                @Html.LabelFor(model => model.Grado_E, htmlAttributes: new { @class = "control-label" })

                                <select class="form-control" name="Grado_E" id="Sexo_R">
                                    <option value="Primer Grado"> Primer Grado</option>
                                    <option value="Segundo Grado">Segundo Grado</option>
                                    <option value="Tercer Grado">Tercer Grado</option>
                                    <option value="Cuarto Grado">Cuarto Grado</option>
                                    <option value="Quinto Grado">Quinto Grado</option>
                                    <option value="Sexto Grado">Sexto Grado</option>
                                </select>

                                @Html.LabelFor(model => model.Sexo_E, htmlAttributes: new { @class = "control-label" })

                                <select class="form-control" name="Sexo_E" id="Sexo_E">
                                    <option value="0">Femenino</option>
                                    <option value="1">Masculino</option>
                                </select>


                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br>  <br>
            <center><input type="submit" class="btn btn-primary" value="Enviar"></center>
        </div>
    </div>

}
 
