﻿
@{
    ViewBag.Title = "Mostrar";
}

@*Vista Mostrar, en esta vista se muestra los Datos del Estudiante con el crud de  Agragar,Eliminar y Editar.*@
@Html.AntiForgeryToken()

<div class="container">
    <div class="Formulario">
        <div class="Form-titulo">

            <center><h3> Mostrar Datos del Estudiante</h3></center>

            @*Boton Agregar*@

            <div class="col-2"><a class="btn btn-secondary btn-sm" href="@Url.Action("Estudiante","Formulario",new { reId = ViewBag.ListEstudiante[0].Representante_Id})">Agregar</a></div>

        </div>
        @*Crear tabla para mostrar los datos del Estudiante*@
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Grado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in ViewBag.ListEstudiante)
                {
                    <tr>
                        <th scope="row">@item.Nombre_E</th>
                        <td>@item.Apellido_E</td>


                        @switch (item.Sexo_E)
                        {
                            case 0:
                                <td>Femenino</td>
                                break;
                            case 1:
                                <td>Masculino</td>
                                break;
                        }

                        <td>@item.Grado_E</td>
                        <td>
                            @*Botones de eliminar y editar*@

                            <button type="button" class="btn btn-secondary btn-sm" onClick="EliminarEstudiante(@item.Matricula_E);"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            <a class="btn btn-secondary btn-sm" href="@Url.Action("Estudiante","Formulario",new { Id = item.Matricula_E , reId = item.Representante_Id})"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

@*Javascrip para la funciòn eliminar*@
<script type="text/javascript">

    function EliminarEstudiante(IdE)
    {
        var Id = IdE;
        var mensaje;
        var opcion = confirm("Presione ACEPTAR si desea Borrar, si no presione CANCELAR");
        if (opcion == true) {
              $.ajax({
                type: 'POST',
                url: '@Url.Action("EliminarEstudiante", "Formulario")',
                data: {
                    Id: Id
                },
                cache: false,
                success: function (data) {
                    if (data.success){
                        alert('Estudiante eliminado correctamente');
                        location.reload();
                    }
                    else {
                        alert('Error Eliminando');
                    }
                },
                error: function () {
                    alert('Error Eliminando');
                }
            });
        }
     }

</script>

