﻿@model Escuela.Entities.Representante
@{
    ViewBag.Title = "Representante";
}


<div align="center">
    @using (Html.BeginForm())
    {
        //Vista Representante para agragar datos de los Representante en el formulario
        @Html.AntiForgeryToken()

        <div class="Representante">

            <div class="Form-titulo">
                <h3> Datos del Representante</h3>
            </div>

            <div class="Form-contenido_2 ">

                @*crear tabla para agragar los datos de los Representante mediante un formulario*@

                <table width="50%">
                    <tr>
                        <td width="50%">

                            @Html.LabelFor(model => model.Cedula_R, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Cedula_R, new { htmlAttributes = new { @class = "form-control", onKeyPress = "return soloNumeros(event)", min = 5, maxlength = 8  } })
                            @Html.ValidationMessageFor(model => model.Cedula_R, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Nombre_R, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Nombre_R, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                            @Html.ValidationMessageFor(model => model.Nombre_R, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Apellido_R, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Apellido_R, new { htmlAttributes = new { @class = "form-control", onkeypress = "return soloLetras(event)" } })
                            @Html.ValidationMessageFor(model => model.Apellido_R, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Direccion_R, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Direccion_R, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Direccion_R, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Telefono_R, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Telefono_R, new { htmlAttributes = new { @class = "form-control", onKeyPress = "return soloNumeros(event)", min = 11, maxlength =11  } })
                            @Html.ValidationMessageFor(model => model.Telefono_R, "", new { @class = "text-danger" })


                            @Html.LabelFor(model => model.Correo_R, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.Correo_R, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Correo_R, "", new { @class = "text-danger" })

                            @Html.LabelFor(model => model.Sexo_R, htmlAttributes: new { @class = "control-label" })

                            <select class="form-control" name="Sexo_R" id="Sexo_R">
                                @switch (Model.Sexo_R)
                                {
                                    case 0:
                                        <option value="0" selected>Femenino</option>
                                        <option value="1">Masculino</option>
                                        break;
                                    case 1:
                                        <option value="0">Femenino</option>
                                        <option value="1" selected>Masculino</option>
                                        break;
                                    default:
                                        <option value="0">Femenino</option>
                                        <option value="1">Masculino</option>
                                        break;
                                }
                            </select>

                            <input type="text" name="Clave_R" value="@Model.Clave_R" hidden>
                        </td>
                    </tr>
                </table>
                <br>

                @*Boton Enviar*@

                <center><input type="submit" class="btn btn-primary" value="Enviar"></center>

            </div>
        </div>
    }
</div>